<footer>
            <div class="row">
                <div class="col-lg-12 footer">
                    <p class="footer-logo"><img src="{{ "images/company_logo.png" }}" alt="Company logo"/></p>
                    <span>상호 : 웰컴페이먼츠(주) | 대표이사 : 김기현</span><br/>
                    <span>고객센터 대표번호 : 02-838-2001 | 팩스 02-6344-3796 | 사업자번호 : 526-87-00842</span><br/>
                    <span>서울시 구로구 디지털로 32길 30 (구로동), 코오롱디지털타워빌란트 1307호</span><br/>
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
                </div>
            </div>
</footer>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
